.editor {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: lightgray;
}

.button .ikonli-font-icon {
    -fx-icon-size: 20;
}

.toggle-button .ikonli-font-icon {
    -fx-icon-size: 20;
}

.menu-icon {
    -fx-icon-size: 20;
    -fx-icon-code: fa-ellipsis-v;
}

.app-icon {
    -fx-icon-code: fa-magic;
}

.save-icon {
    -fx-icon-code: fa-save;
}

.reset-icon {
    -fx-icon-code: mdi-undo;
}

.resize-icon {
    -fx-icon-code: mdi-move-resize-variant;
}

.flip-vertical-icon {
    -fx-icon-code: mdi-swap-vertical;
}

.flip-horizontal-icon {
    -fx-icon-code: mdi-swap-horizontal;
}

.rotate-right-icon {
    -fx-icon-code: mdi-rotate-right;
}

.rotate-left-icon {
    -fx-icon-code: mdi-rotate-left;
}

.grayscale-icon {
    -fx-icon-code: mdi-invert-colors;
}

.zoom-in-icon {
    -fx-icon-code: fa-search-plus;
}

.zoom-out-icon {
    -fx-icon-code: fa-search-minus;
}

.zoom-fit-icon {
   -fx-icon-code: gmi-aspect-ratio;
 }

.zoom-1-1-icon {
    -fx-icon-code: fa-expand;
 }

.metadata-icon {
    -fx-icon-code: mdi-tag-text-outline;
}

.edit-icon {
    -fx-icon-code: fa-pencil;
}


.search-icon {
    -fx-icon-code: fa-search;
}

.about-icon {
   -fx-icon-code: fa-question;
}

.folder-icon {
   -fx-icon-code: fa-folder-open-o;
}